---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/base.css">
    <script src="{{site.baseurl}}/assets/js/tipoftheday.js"></script>
    <script src="{{site.baseurl}}/assets/js/onload.js"></script>
    <title>JIANSU COOKBOOK</title>
</head>
<body>

    {% include header.html %}

    {% include navigation.html %}

    <article class="content index">
        <section>
            <h2>me when food 😳</h2>
        </section>
        <hr>
        <section>
            <p>Hello 👋</p>
            <p>
                As you can tell from the title of the website. I like to <span id="meme-1">cook</span>. I've made this website to serve as my recipe book for anything I make, find, or come up with. I hope you enjoy the recipes I've shared!
            </p>
            <p><strike>
                After posting too many pictures of my cooking to a certain server, 
                I am now being held against my will to share all my recipes and cooking tricks. Please send help.
            </strike></p>
            <p>This website is a work in progress. None of the links work at the moment :^).</p>

            <hr>

            <div>
                random recipe of the day:
                <a href="" id="random_recipe">Beef and Spring Pepper (青椒牛肉丝)</a>
            </div>
        </section>

    </article>

    {% include footer.html %}
    
</body>
</html>