@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

html{
    margin: 0;
}

body{
    position: relative;

    font-family: "Open Sans", Arial, Helvetica, "Noto Sans SC", sans-serif;
    font-weight: 500;   

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

table, td, th{
    border: solid 1px black;
}

table{
    width: 100%;
    margin-bottom: 15px;
}

td, th{
    padding: 5px;
}

td{
    text-align: left !important;
}

h1{
    --fontsize: 60px;
    font-family: Merriweather;
    font-size: var(--fontsize);
    line-height: var(--fontsize);
    letter-spacing: 4px;
    margin: 0;
     


}

h2{
    font-family: Merriweather;
    margin-bottom: 0;
}

h3{
    font-family: "Open Sans", Arial, Helvetica, "Noto Sans SC", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

h4{
    margin: 0;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 15px 0;
}

nav > a{
    font-size: 14px;
    margin: 0 5px;
}

.pg-header{

}

.pg-header{
    margin-top: 35px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 22px 28px;
}

.pg-title, .pg-subtitle{
    text-transform: uppercase;
    margin: 0;
}

.pg-header > h1 > c{
    top: 30px;
    font-size: 90px;
    line-height: 46px;
    vertical-align: bottom;
}

article{
    
    border: solid 2px black;

    padding: 18px 24px;
    box-sizing: border-box;

    width: 1024px;
}

@media screen and (max-width: 1177.6px) {
    article{
        width: 85%;
    }
}

@media screen and (max-width: 900px){
    .pg-title{
        font-size: 32px;
        line-height: 36px;
    }

    .pg-header{
        padding: 9px 12px;
    }

    .pg-subtitle#splashtext{
        font-size: 12px;
    }
    nav{
        flex-direction: column;
    }

    nav > a{
        font-size: 16px;
        margin: 5px 0;
    }

    article.footer{
        flex-direction: column !important;
    }
}

article.nav{
    margin: 20px 0;
    padding: 6px 24px;
}

article.footer{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

article.content{
    height: 100%;
    min-height: 500px;
    
}


.links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}